/* General styles */
h2{
  text-align: center;
}
.form-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

.container{
  padding: 16px; 
  border-radius: 1%;
}

.form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto ; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span {
  float: right;
  padding-top: 16px;
}

/* Extra styles for the cancel button */
.cancelBtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

button {
  background-color: #6c63ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:active {
  background-color: #41359d;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span {
    display: block;
    float: none;
  }
  .cancelBtn {
    width: 100%;
    border-radius: 1%;
  }
}